.emptyState-container{
    margin-top: 4%;
    text-align:  center;
    animation: fadeIn 0.5s ease-in forwards;
    opacity: 0; 
    transform: translateY(20px);
}

.emptyState-container .empty-box{
    width: 15%;
    opacity: 70%;
}

.emptyState-container h1{
    font-weight: 300; 
    font-size: 2vw;

}

.emptyState-container p{
    font-size: 18px;
    color: #8f8f8f;
}



@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
