.item-list{
    background-color: #FDFAFA;
    padding: 10px;
    border-radius: 5px;
    color: #8f8f8f;
    margin-top: 5px;  
    display: grid;    
    grid-template-columns: 1.5fr 1fr 1fr 1fr min-content; 
    align-items: center;
    gap: 10px;
    font-size: 15px;
}

.container-buttons{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    gap: 10px;  
}

.item-list label{
    padding: 5px;
    overflow: hidden;
    word-wrap: break-word;
}

.item-list input{
    border-width: 1px;
    border-radius: 3px;
    border-style: solid;
    border-color: #dbd9d9;;
    font-size: 15px;
    outline: none;
    color: #8f8f8f;
    background-color: #FDFAFA;
    padding: 5px;
}


.item-list input::placeholder{
    color: #8f8f8f;
}

.edit-icon{
    color: #2E2E2E;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    border: none;
    font-size: 15px;
    background-color: #FDFAFA;
}

.trash-icon{
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    border: none;
    height: 15px;
    background-color: #FDFAFA;
}

.check-icon{
    color: #2E2E2E;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    border: none;
    font-size: 15px;
    background-color: #FDFAFA;
}

.input-amout{
    width: 30%;
}

.input-packaging{
    width: 60%;
}



