.header-list{
    background-color: #FDFAFA;
    padding: 15px;
    border-radius: 20px 20px 0px 0px;
    color: #2E2E2E;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 0.8fr 0.4fr auto; 
    gap: 10px;
    font-size: 15px;
}

#header-medicine{
    grid-template-columns: 1.5fr 1fr 1fr 0.8fr 0.4fr 1fr auto; 
}

#header-material{
    grid-template-columns: 1.5fr 1fr 1fr 0.8fr 0.4fr auto; 
}
