.item-list{
    background-color: #FDFAFA;
    padding: 10px;
    border-radius: 5px;
    color: #8f8f8f;
    margin-top: 5px;  
    display: grid;    
    align-items: center;
    gap: 10px;
    font-size: 15px;
    animation: moveUp 0.5s ease forwards;
    opacity: 0; 
    transform: translateY(-20px);
}

#item-medicine{
    grid-template-columns: 2fr 1.2fr 1fr 1.2fr 1.3fr min-content; 
}

#item-material{
    grid-template-columns: 1.9fr 1.1fr 1.5fr 1fr min-content; 
}


.container-buttons{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    gap: 15px; 
    margin-right: 15px;
}

.item-list label{
    padding: 5px;
    overflow: hidden;
    word-wrap: break-word;
}

.item-list input{
    border-width: 1px;
    border-radius: 3px;
    border-style: solid;
    border-color: #dbd9d9;;
    font-size: 15px;
    outline: none;
    color: #8f8f8f;
    background-color: #FDFAFA;
    padding: 5px;
}


.item-list input::placeholder{
    color: #8f8f8f;
}

.edit-icon{
    color: #8f8f8f;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    border: none;
    font-size: 15px;
    background-color: #FDFAFA;
}

.trash-icon{
    cursor: pointer;
    color: #8f8f8f;
    margin: 0px;
    padding: 0px;
    border: none;
    font-size: 15px;
    background-color: #FDFAFA;
}

.check-icon{
    color: #8f8f8f;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    border: none;
    font-size: 15px;
    background-color: #FDFAFA;
}


.cancel-icon{
    cursor: pointer;
    color: #8f8f8f;
    margin: 0px;
    padding: 0px;
    border: none;
    font-size: 15px;
    background-color: #FDFAFA;
}

.input-amout{
    width: 20%;
}


.select-type-edit{
    width: 110px;
    text-align: left;
    padding: 0px;
    box-shadow: none;

}

.container-buttons button:hover{
    color: #5f5e5e;
}


.container-buttons .trash-icon:hover{
    color: #d13007;
}

@keyframes moveUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
