.add-material-form{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    overflow: hidden;
}

.form-container-input{
    display: flex;
    gap: 15px;
}

.input-name{
    width: 350px;
}

.input-amount{
    width: 50px;
}

.input-milligram{
    width: 50px;
}

.select-type{
    width: 110px;
    text-align: left;
}


.form-container-buttons{
    display: flex;
    gap: 10px;
}

.add-material-form input, select{
    border-radius: 5px;
    border: none;
    color: #2E2E2E;
    background-color: #FDFAFA;
    padding: 10px 10px 10px 10px;
    font-size: 16px;
    outline: none;
    box-shadow: 0px 0px 10px 0px #f0eeee;
}

.form-container-buttons .add-button{
    width: 120px;
    height: 40px;
    color: #FDFAFA;
    background-color: #7dbb92;
    box-shadow: 0px 0px 5px 0px #7dbb92;
}

.add-button:hover{
    background-color: #b4dfc2;
}

.cancel-button:hover{
    background-color: #e6e3e3;
}

.form-container-buttons button{
    border-radius: 7px;
    border-style: none;
    font-size: 15px;
    font-weight: normal;
    cursor: pointer;
}

input::placeholder {
    color: #B7B7B7;
}

.form-container-buttons i{
    font-size: 17px;
    margin-right: 5px;
}

.cancel-button{
    background-color: #FDFAFA;
    width: 100px;
    box-shadow: 0px 0px 5px 0px #e6e3e3;
    width: 120px;
}

.form-container-buttons button{
    color: #8f8f8f;
}

.add-material-form.moveUp{
    animation: moveUp 0.2s ease forwards;
    opacity: 0; 
    transform: translateY(20px);
}



.add-material-form.moveOut{
    animation: moveOut 0.3s ease forwards;
    opacity: 1; 
    transform: translateY(-20px);
}

@keyframes moveUp {
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}


@keyframes moveOut {
    to {
        opacity: 0;
        transform: translateY(20px);
    }
}